---
// 2026-04-17     Jud Cole Portfolio Resume page

// spell-checker: ignore FOSS judcole NAEP NCES

import "../styles/global.css"

import BaseLayout from "../layouts/BaseLayout.astro"
import HorizontalCard from "../components/HorizontalCard.astro"
import { getCollection } from "astro:content"
import createSlug from "../lib/createSlug"
import dayjs from "dayjs"

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)

const last_posts = posts.slice(0, 3)
---

<BaseLayout sideBarActiveItemID="home">
    <div class="mt-5 mb-2">
        <div class="text-4xl font-bold">Jud Cole</div>
        <div class="py-3 text-3xl font-bold">Technology Leader, Strategist, Innovator, and Mentor</div>
        <div class="py-2">
            <text class="text-lg">
                <!-- Welcome to my personal portfolio site at
                <a href="https://www.judcole.com" target="_blank" class="font-bold">www.judcole.com</a>
                and
                <a href="https://www.judcole.dev" target="_blank" class="font-bold">www.judcole.dev</a>. -->
                <p class="mb-2">
                    If you've found your way to this website you likely already know a bit about me. On this
                    site, you'll find more details about what I can do for you and the rich skill-set and
                    experience that I bring to the table. Some notable achievements include:
                </p>
                <ul class="mx-6 mt-4 mb-4 grid list-disc gap-2">
                    <li>
                        <span class="font-bold">Built and led</span> the Software Development, QA, and DevOps organization
                        of a cutting-edge interpretation and translation company that grew from less than $100m
                        to ~$300m in annual revenue in 2 years.
                    </li>
                    <li>
                        <span class="font-bold">Co-founded and led</span> several software startups, including a
                        fully self-funding and profitable builder of software development tools for almost 10 years
                        that we grew to 25+ people who supported over 50,000 paying customers throughout the world
                        from three separate locations in the USA and the UK.
                    </li>
                    <li>
                        <span class="font-bold">Built and led</span> the teams that designed and delivered on schedule
                        the tablet-based assessment system for the US National Assessment of Educational Progress
                        (NAEP) Technology Based Assessment administered to over 130,000 students across America
                        in 2015.
                    </li>
                    <li>
                        <span class="font-bold">Created and developed</span> multiple commercial software development
                        tools purchased by over 75,000 developers at 20,000 software development companies around
                        the world.
                    </li>
                    <li>
                        <span class="font-bold">Led the technical efforts</span> for the winning proposal for a
                        $64 million technology contract with the US National Center for Educational Statistics (NCES).
                    </li>
                </ul>
            </text>
        </div>
    </div>

    <div class="w-full text-3xl font-bold">About me</div>

    <div class="py-2">
        <text class="text-lg">
            <p class="mb-2">
                A dynamic and experienced technology leader, innovator, strategist, and mentor who loves to
                solve complex technical challenges and lead organizations and teams in creating efficient,
                high quality, and easy to use and maintain technology-based solutions.
            </p>
            <p class="mb-2">
                Repeatedly recognized as a leader, team builder, and motivator who combines the technical
                expertise of a software architect with the business and management acumen of a C-level
                executive.
            </p>
            <ul class="mx-6 mt-4 mb-4 grid list-disc gap-2">
                <li>
                    <span class="font-bold">
                        Transformation of business challenges into reliable and scalable solutions:
                    </span>
                    Innovative creator of technology- based strategies and solutions that provide optimal value
                    for an organization and its customers.
                </li>
                <li>
                    <span class="font-bold"> Visionary and inspirational IT leadership:</span>
                    Enthusiastic driver of organizational, team and personal evolution through team building, empowerment,
                    and mentoring to create a culture of success and achievement.
                </li>
                <li>
                    <span class="font-bold"> Exceptional results exceeding expectations: </span>
                    Committed goal- and result-oriented pioneer of cutting-edge techniques and technologies to enhance
                    operational efficiency, reliability and profitability while reducing associated risk.
                </li>
                <li>
                    <span class="font-bold"> Clear communication:</span> Skilled speaker and writer with international
                    and multi-cultural experience in business development, proposal writing, product briefing, public
                    speaking, training, and authoring technical manuals.
                </li>
                <li>
                    <span class="font-bold"> Far reaching technical expertise:</span>
                    Knowledgeable problem solver and builder of technical solutions for Cloud (AWS, Azure, GCP),
                    Mobile (Android, iOS), Web, Desktop (Windows, Linux, macOS), and Virtual (Docker, VMware, VirtualBox,
                    Xen) platforms and environments.
                </li>
            </ul>
            <p class="mb-2">
                As a self-motivated and internationally experienced technology leader and innovator I am
                currently looking for an organization that values innovation, openness, productivity,
                efficiency, high quality, and sustainability, and I look forward to leveraging my unique skill
                set as a key strategic contributor to your company's leadership team.
            </p>
        </text>
    </div>

    <div class="mt-5 mb-5 w-full text-3xl font-bold">Latest blog posts</div>

    {
        last_posts.map((post) => (
            <>
                <HorizontalCard
                    title={post.data.title + " (" + dayjs(post.data.pubDate).format("ll") + ")"}
                    img={post.data.heroImage}
                    desc={post.data.description}
                    url={"/blog/" + createSlug(post.data.title, post.id) + "/"}
                    target="_self"
                    badge={post.data.badge}
                />
                <div class="divider my-0" />
            </>
        ))
    }
</BaseLayout>
