---
// 2026-05-10     Jud Cole Portfolio Resume page

// spell-checker: ignore: tauri

import BaseLayout from "../layouts/BaseLayout.astro"
import HorizontalCard from "../components/HorizontalCard.astro"
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
    <div>
        <div class="mb-5 w-full text-3xl font-bold">WIP coming soon . . .</div>
    </div>

    <HorizontalCard
        title="Tauri Application templates"
        img="/project.svg"
        imgWidth="50"
        desc="Cookie-Cutter templates with many pre-configured plugins to build native desktop CLI, GUI, and service applications with Rust and the Tauri framework."
        url="https://github.com/judcole"
    />
    <div class="divider my-0"></div>

    <div>
        <div class="mt-5 mb-5 w-full text-3xl font-bold">Public on GitHub</div>
    </div>

    <HorizontalCard
        title="Jud Cole Portfolio Web Site"
        img="/project.svg"
        imgWidth="50"
        desc="My personal portfolio site (www.judcole.com) crafted in Astro (TypeScript), DasiyUI, and Tailwind CSS based on the Astrofy Template."
        url="https://github.com/judcole/jc-portfolio"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Jud Cole Personal GitHub Profile"
        img="/project.svg"
        imgWidth="50"
        desc="My personal GitHub profile site (judcole.github.io) generated from my Portfolio site."
        url="https://github.com/judcole/judcole.github.io"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Sublime Text Editor Link Follower Plugin"
        img="/project.svg"
        imgWidth="50"
        desc="A plugin for the Sublime Text Editor to follow file links and Web URLs."
        url="https://github.com/judcole/st-link-follower"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Twitter API Coding challenge"
        img="/project.svg"
        imgWidth="50"
        desc="A C# and Razor coding challenge from a few years ago: A C# .NET service to access a Twitter stream API, compute various statistics for the random tweets that it provides, and provide access to the statistics via an HTTPS API call, and a C# .NET Razor Web application to display those results on demand by calling the aforementioned API."
        url="https://github.com/judcole/TMCodeChallenge"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Twitter API Coding challenge"
        img="/project.svg"
        imgWidth="50"
        desc="A Java and TypeScript Code Challenge from a few years ago: A Java service to access a Twitter stream API, compute various statistics for the random tweets that it provides, and provide access to the statistics via an HTTPS API call, and a Svelte Web application to display those results on demand by calling the aforementioned API."
        url="https://github.com/judcole/twitter-api-java"
    />
    <div class="divider my-0"></div>

    <div>
        <div class="mt-5 mb-5 w-full text-3xl font-bold">Non-Public</div>
    </div>

    <HorizontalCard
        title="Incus VM build templates"
        img="/project.svg"
        imgWidth="50"
        desc="Ansible, Bash, Incus, and Packer scripts to build Fedora and Arch Linux VMs for a basic workstation and a full development environment."
        url="https://github.com/judcole"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="VMware VM build templates"
        img="/project.svg"
        imgWidth="50"
        desc="Ansible, Bash, and Packer scripts to build Fedora, macOS, and Windows VMs for a basic workstation and a full development environment."
        url="https://github.com/judcole"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Web Site Infrastructure"
        img="/project.svg"
        imgWidth="50"
        desc="My personal portfolio site and several other public sites are built, hosted, and managed on Scaleway Debian hosts running Nomad and Podman for container orchestration, NGINX and Fabio for scaling and load balancing, and Gatus and Bezel for monitoring and alerting. All infrastructure is configured and managed using Terraform and Ansible."
        url="https://github.com/judcole"
    />
    <div class="divider my-0"></div>
</BaseLayout>
