---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
    <div>
        <div class="mb-5 w-full text-3xl font-bold">Coming soon . . .</div>
    </div>

    <HorizontalCard
        title="Tauri Application templates"
        img="/project.svg"
        imgWidth="50"
        desc="A set of template applications to build native desktop CLI, GUI, and service applications."
        url="https://github.com/judcole"
    />

    <div>
        <div class="mt-5 mb-5 w-full text-3xl font-bold">Public on GitHub</div>
    </div>

    <HorizontalCard
        title="Twitter API Coding challenge"
        img="/project.svg"
        imgWidth="50"
        desc="A C# and Razor coding challenge from a few years ago: A C# .NET service to access a Twitter stream API, compute various statistics for the random tweets that it provides, and provide access to the statistics via an HTTPS API call, and a C# .NET Razor Web application to display those results on demand by calling the aforementioned API."
        url="https://github.com/judcole/TMCodeChallenge"
    />
    <div class="divider my-0"></div>
    <HorizontalCard
        title="Twitter API Coding challenge"
        img="/project.svg"
        imgWidth="50"
        desc="A Java and TypeScript Code Challenge from a few years ago: A Java service to access a Twitter stream API, compute various statistics for the random tweets that it provides, and provide access to the statistics via an HTTPS API call, and a Svelte Web application to display those results on demand by calling the aforementioned API."
        url="https://github.com/judcole/twitter-api-java"
    />
</BaseLayout>
