---
// 02/12/25     Jud Cole Portfolio Resume page

// spell-checker: ignore baliga CSPO jigar keerthi propio melkonian

import BaseLayout from "../layouts/BaseLayout.astro";
// import TimeLineElement from "../components/resume/TimeLine.astro";
---

<BaseLayout title="Recommendations" sideBarActiveItemID="recommendations">
    <div class="mb-5">
        <div class="w-full text-3xl font-bold">Recommendations</div>
    </div>

    <div class="text-lg">
        <div class="mb-5">
            <p class="mb-2">
                Some recent recommendations that I have received on LinkedIn. See my
                <a
                    class="font-bold"
                    href="https://www.linkedin.com/in/judcole/details/recommendations/"
                    target="_blank">LinkedIn Recommendations</a
                >
                for all these and more.
            </p>
        </div>

        <div class="mb-5 grid gap-4">
            <div class="psx-5">
                <h3 class="mb-1 font-semibold">Jigar Shah. Accomplished Software Engineering Manager
                    <span class="text-sm font-light">Dec 2024</span>
                </h3>
                <div class="px-5">
                    <p class="mb-2">
                        Jud is an exemplary and intuitive leader who possesses a deep understanding of
                        technological intricacies and shows genuine empathy for individuals. I had the
                        privilege of working with Jud at Propio Language Services, where I directly reported
                        to him. He provided me with support and guidance whenever I sought it, while also
                        giving me the autonomy to make decisions for the teams I led. Jud was the ideal
                        mentor, collaborating with me to navigate various critical decisions.
                    </p>
                    <p class="mb-2">
                        During my tenure at Propio, Jud served as the VP of Software Engineering and
                        demonstrated his strategic thinking and methodical approach to analyzing technical
                        problems. He was not afraid to get hands-on, offering technical solutions while
                        investigating production issues. He adeptly managed vendor negotiations and always
                        aimed for the best possible outcomes for the engineering team.
                    </p>
                    <p class="mb-2">
                        Jud was a strong advocate for establishing various processes, such as the Change
                        Approval Board, incident response procedures, and product planning, all with a focus
                        on delivering customer value and setting a clear direction for the engineering
                        organization.
                    </p>
                    <p class="mb-2">
                        I feel fortunate to have had Jud as my manager and would welcome the opportunity to
                        work with him again
                    </p>
                    <div class="divider my-2"></div>
                </div>
            </div>
        </div>

        <div class="mb-5 grid gap-4">
            <div class="psx-5">
                <h3 class="mb-1 font-semibold">Eric Martin. Solutions Architect
                    <span class="text-sm font-light">Dec 2024</span>
                </h3>
                <div class="px-5">
                    <p class="mb-2">
                        I had the pleasure of working with Jud Cole for nearly two years at Propio, and I can
                        confidently say he is a talented and visionary leader. It was both an honor and a
                        privilege to work alongside him and, for a time, directly under his supervision. For
                        most of our time together, Jud led the Development team, first as a Director and later
                        as a VP, during which I collaborated extensively with him and his team. For several
                        months, he directly managed the group I was part of, giving me the opportunity to
                        report to him and observe his leadership style up close.
                    </p>
                    <p class="mb-2">
                        Jud has a remarkable ability to balance the big picture with a focus on the key
                        details that drive progress. His leadership is admirable - he not only sets ambitious
                        goals but also creates an environment where his teams are empowered to achieve and
                        exceed them. His clarity of vision, combined with a hands-on approach, ensures that
                        every objective is thoughtfully addressed and nothing is overlooked.
                    </p>
                    <p class="mb-2">
                        He’s also an exceptional communicator, adept at breaking down complex technical
                        challenges into actionable strategies that resonate with diverse audiences. Whether
                        presenting to senior executives, collaborating with peers, or mentoring his team, Jud
                        consistently demonstrates professionalism, approachability, and a genuine passion for
                        problem-solving.
                    </p>
                    <p class="mb-2">
                        I have great respect for Jud's ability to inspire those around him to perform at their
                        best, and his leadership consistently resulted in outstanding outcomes. His dedication
                        to fostering growth - both within his team and across the organization - was evident
                        in every project and interaction.
                    </p>
                    <p class="mb-2">
                        I wholeheartedly recommend Jud to any organization seeking a skilled leader who
                        combines technical expertise with a clear strategic vision. It would be a privilege to
                        work with him again.
                    </p>
                    <div class="divider my-2"></div>
                </div>
            </div>
        </div>

        <div class="mb-5 grid gap-4">
            <div class="psx-5">
                <h3 class="mb-1 font-semibold">
                    David Melkonian. Senior Management, Development, and Design Professional
                    <span class="text-sm font-light">Nov 2024</span>
                </h3>
                <div class="px-5">
                    <p class="mb-2">
                        Jud is truly a one-of-a-kind in this industry. He's not only a brilliant engineer and
                        technologist but also a natural leader. His attention to detail and ability to see the
                        bigger picture are remarkable. His dedication to mentoring and supporting developers
                        (and many others) is selfless and always valuable.
                    </p>
                    <p class="mb-2">
                        It's rare to see an executive leader roll up their sleeves to troubleshoot - and even
                        write-code alongside the development team.
                    </p>
                    <p class="mb-2">
                        To use a sports cliché, our team would run through a wall for Jud. It may sound
                        hyperbolic, but finding a leader as accomplished and effective as Jud Cole would be a
                        challenge.
                    </p>
                    <div class="divider my-2"></div>
                </div>
            </div>
        </div>

        <div class="mb-5 grid gap-4">
            <div class="psx-5">
                <h3 class="mb-1 font-semibold">Keerthi Baliga. CSPO certified Product Owner
                    <span class="text-sm font-light">Nov 2024</span>
                </h3>
                <div class="px-5">
                    <p class="mb-2">
                        I had the privilege of working with Jud at Propio Language Services and I can
                        confidently say that he is an outstanding leader and mentor. While I didn't report
                        directly to Jud, I always felt supported by his guidance and encouragement. He has a
                        unique ability to recognize potential in others and foster their growth. Personally,
                        Jud helped me by offering advice and motivating me when I needed.
                    </p>
                    <p class="mb-2">
                        Jud has a strong technical background and a strategic mindset, but what really stands
                        out is his ability to connect with and support his team. He has a knack for helping
                        people navigate challenges and offering guidance when needed, all while keeping the
                        bigger picture in focus. His approach is practical and solution-oriented, which
                        creates an environment where teams can thrive and deliver high-quality results.
                    </p>
                    <p class="mb-2">
                        Anyone working with Jud will benefit from his leadership style, which emphasizes clear
                        communication, collaboration, and continuous improvement. He leads with a focus on
                        both business and technical goals, ensuring that the team stays aligned and motivated.
                        I would be happy to work with Jud again in the future and would recommend him to any
                        organization
                    </p>
                    <div class="divider my-2"></div>
                </div>
            </div>
        </div>

        <!-- <div class="mb-5 grid gap-4">
            <div class="psx-5">
                <h3 class="mb-1 font-semibold">Eric Martin. Solutions Architect
                    <span class="text-sm font-light">Dec 2024</span>
                </h3>
                <div class="px-5">
                    <p class="mb-2">
                    </p>
                    <p class="mb-2">
                    </p>
                    <div class="divider my-2"></div>
                </div>
            </div>
        </div> -->
    </div>
</BaseLayout>
