---
const { sideBarActiveItemID } = Astro.props
const activeItemClass = "bg-base-200" // For primary color replace value with `active` class
---

<ul class="menu menu-md w-full shrink grow overflow-y-auto">
    <li><a class="py-3 text-xl" id="home" href="/">Home</a></li>
    <li><a class="py-3 text-xl" id="resume" href="/resume/">Resume</a></li>
    <li><a class="py-3 text-xl" id="recommendations" href="/recommendations/">Recommendations</a></li>
    <li><a class="py-3 text-xl" id="books" href="/books/">Books</a></li>
    <li><a class="py-3 text-xl" id="projects" href="/projects/">Projects</a></li>
    <!-- <li><a class="py-3 text-base" id="services" href="/services">Services</a></li> -->
    <!-- <li><a class="py-3 text-base" id="store" href="/store">Store</a></li> -->
    <li><a class="py-3 text-xl" id="blog" href="/blog/">Blog</a></li>
    <li>
        <a id="email-resume" class="py-3 text-xl" href="" target="_blank"
            >Email for a resume
            <img src="/pdf.svg" onload="fff()" width="32" height="32" alt="Email PDF" /></a
        >
    </li>
</ul>

<script is:inline>
    function fff() {
        const hRef = document.getElementById("email-resume")
        hRef.href = "mail" + "to:res" + "ume" + String.fromCharCode(64) + "jud" + "cole.com"
    }
</script>

<script
    is:inline
    define:vars={{
        sideBarActiveItemID: sideBarActiveItemID,
        activeItemClass: activeItemClass,
    }}
>
    const activeItemElem = document.getElementById(sideBarActiveItemID)
    if (activeItemElem) {
        activeItemElem.classList.add(activeItemClass)
    }
</script>
