---
// 2026-02-21 Jud Cole Portfolio SideBar Layout

import { Toggle } from "astro-theme-toggle/components"
import { Image } from "astro:assets"
import SideBarFooter from "./SideBarFooter.astro"
import SideBarMenu from "./SideBarMenu.astro"

const { sideBarActiveItemID } = Astro.props
---

<div class="drawer-side z-40">
    <label for="my-drawer" class="drawer-overlay"></label>
    <aside class="bg-base-300 text-base-content flex h-auto min-h-full w-76 flex-col px-2 pt-2">
        <Toggle class="ml-4" style="width: 24px; height: 24px;" />
        <div class="mx-auto mt-5 mb-6 w-fit">
            <a href="/">
                <div class="avatar m-auto block transition ease-in-out hover:scale-[102%]">
                    <div class="w-34">
                        <Image
                            class="mask mask-circle"
                            format="webp"
                            width={300}
                            height={300}
                            src="/profile.webp"
                            alt="Profile image"
                        />
                    </div>
                </div>
            </a>
        </div>
        <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
        <SideBarFooter />
    </aside>
</div>
